<!DOCTYPE html>
<html>
  <head>
    <title>Rails Stock Control</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><%=link_to"Home", user_url(current_user) %></li>
    <li><a class='dropdown-arrow' href='http://'>Items</a>
      <ul class='sub-menus'>
        <li><a href='http://'>add to inventory</a></li>
        <li><a href='http://'>manage items</a></li>
      </ul>
    </li>
    <li>Transactions
      <ul class='sub-menus'>
        <li><%=link_to"My Transactions", user_transcations_path(current_user) %></li>
        <li><%=link_to"Manage Transactions", transactions_url %></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href=''>Users</a>
      <ul class='sub-menus'>
        <li><%=link_to "Manage Users",users_path%></li>
        <li><%=link_to "Manage My Profile",edit_user_path(current_user)%></li>
      </ul>
    </li>
    <li><%=button_to "Log out", logout_path, method: "delete" %></li>
  </ul>
</nav>
    <!-- content -->
    <div class="container row row-centered"  role="main">
      <%=flash[:error] if flash[:error]%>
      <%=flash[:alert] if flash[:alert]%>
      <%=flash[:message] if flash[:message]%>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-centered">
              <%= yield %>
      </div>
    </div>
  </body>
</html>

