<!DOCTYPE html>
<html>
  <head>
    <title>Rails Stock Control</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <a class="navbar-brand" href="<%= users_url %>"/>Home</a>  
              <a class="navbar-brand" href="<%= transactions_url %>"/>Transactions</a>  
              <a class="navbar-brand" href="<%= items_url %>"/>Items</a> 
              <%=link_to "Log Out", logout_path, method: :delete, class:"navbar-brand" %>  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>

